@use "variables" as *; 


@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@400;700&display=swap');

@media screen (max-width:375px) { 
    @mixin containers{ 
    
max-width: 25%;


}}

 

/* mixin */ 

@mixin containers{

margin: auto;
padding: 25px;
max-width: 25%;
    background-color: $DarkBlue;
    color: $White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: $roundradius;
    font-family: 'overpass';
   

}

* { 
    padding: 0;
}



body { 

   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   background-color: $VeryDarkBlue;
   min-height: 100vh;

  
   
}

#main-container { 
 @include containers();

svg{ 
    background-color: $bluebackdrop;
    padding: .75rem;
    border-radius: 50%;


}

.para-main{ 
    color: $MediumGrey;
    margin-top: -.75em;
    font-weight: $wieght400;
    font-size: 15px;
}
 
}



#buttons-container { 
display: flex;
justify-content: space-around; 
padding-bottom: 1em;

    .button { 
        border-radius: 50%;
        padding: .75em 1em;
        background-color: $bluebackdrop; 
        color: $LightGrey;
        font-weight: $wieght400;
    


        &:hover, &:focus { 
            background-color: $Orange;
            color: $White;
            cursor: pointer;
        }


    }


}


#submit { 
   
    background-color: $Orange;
    color: $White;
    padding: .5em;
    border-radius: $roundradius;
    font-weight: $wieght700;
    letter-spacing: .1em;
    font-weight: $wieght400;

    &:hover { 
        cursor: pointer;
        color: $Orange;
        background-color: $White;
    }
  
}




// <style>
// .attribution { font-size: 11px; text-align: center; }
// .attribution a { color: hsl(228, 45%, 44%); }
// </style>


#thankyou-container { 
    @include containers();

    display: flex;
    justify-content: center;
    text-align: center;

    svg{ 

        display: block;
        margin: 0 auto 2rem;
       margin-bottom: -.4em;

     
    }

    #rating{ 
        color: $Orange; 
        border-radius: $roundradius;
        background-color: $bluebackdrop;
        padding: .2rem .5rem 0;
       
        
    }

    h1{
        margin-bottom: -.1em;
    }
    
    #thankyou-para { 
        color: $LightGrey;
        font-weight: $wieght400;
        font-size: 15px;
}
}



.hidden { 
    display: none !important;
}


// attribution 

.attribution { 
    background-color: $bluebackdrop;
    background-color: $MediumGrey;
}