@use "variables" as *; 


@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@400;700&display=swap');


 

/* mixin */ 

@mixin containers{


    background-color: $DarkBlue;
    color: $White;
    display: flex;
    flex-direction: column;
    border-radius: $roundradius;
    font-family: 'overpass';
    flex-wrap: nowrap;
    padding: 20px;
    margin: auto 50%;
   

}

* { 
    padding: 0;
    margin: 0;
}



body { 

   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   background-color: $VeryDarkBlue;
   min-height: 100vh;
   align-items: center;

  
   
}

#main-container { 
 @include containers();

svg{ 
    background-color: $bluebackdrop;
    padding: .75rem;
    border-radius: 50%;

   
}

h1 {
    padding: .5em; 
} 


.para-main{ 
    color: $MediumGrey;
    font-weight: $wieght400;
    font-size: 15px;

}


 
}



#buttons-container { 
display: flex;
justify-content: space-around; 
padding: 1em;
gap: 1em;
    .button { 
        border-radius: 50%;
        padding: .75em 1em;
        background-color: $bluebackdrop; 
        color: $LightGrey;
        font-weight: $wieght400;
    


        &:hover, &:focus { 
            background-color: $Orange;
            color: $White;
            cursor: pointer;
        }


    }


}


#submit { 
   
    background-color: $Orange;
    color: $White;
    padding: .5em;
    border-radius: $roundradius;
    font-weight: $wieght700;
    letter-spacing: .1em;
    font-weight: $wieght400;

    &:hover { 
        cursor: pointer;
        color: $Orange;
        background-color: $White;
    }
  
}




// <style>
// .attribution { font-size: 11px; text-align: center; }
// .attribution a { color: hsl(228, 45%, 44%); }
// </style>


#thankyou-container { 
    @include containers();


    svg{ 

        display: block;
        margin: 0 auto 2rem;
        padding: 20px;
    

     
    }

    #rating{ 
        color: $Orange; 
        border-radius: $roundradius;
        background-color: $bluebackdrop;
        padding: .2rem 1rem 1rem;
       
        
    }

    h1{
    
    }
    
    #thankyou-para { 
        color: $LightGrey;
        font-weight: $wieght400;
        font-size: 15px;
        padding: 1rem;
}
}



.hidden { 
    display: none !important;
}


// attribution 

.attribution { 
    background-color: $bluebackdrop;
    background-color: $MediumGrey;
}